<% if logged_in? %>
  <% provide(:title, "みんなの投稿") %>
    <div class="background">
      <div class="container">
        <div class="row">
          <aside class="col-md-4">
            <section class="user_info">
              <%= render 'shared/user_info' %>
            </section>
            <section class="stats">
              <%= render 'shared/stats' %>
            </section>
            <section class="micropost_form">
              <%= render 'shared/micropost_form' %>
            </section>
          </aside>
          <div class="col-md-8">
            <h3>投稿一覧</h3>
            <%= form_tag home_path, :method => 'get' do %>
              <p>
                <%= text_field_tag :title_s, params[:title_s], placeholder: "タイトル" %>
                <%= text_field_tag :author_s, params[:author_s], placeholder: "著者" %>
                <%= submit_tag "検索", :title_s => nil, :author_s => nil %>
              </p>
            <% end %>
            <ol class="microposts">
              <%= render @microposts %>
            </ol>
            <%= will_paginate @microposts %>
          </div>
        </div>
      </div>
    </div>
<% else %>
  <% provide(:title, "bookapp") %>
    <div class="main">
      <h1>bookapp</h1>
      <%= link_to "始めてみよう！", new_user_path, class: "main-btn" %>
    </div>
<% end %>
