<% provide(:title, @user.name) %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <!-- ユーザーの写真 -->
          <%= @user.name %>
        </h1>
        <section class="micropost_form">
          <%= render 'shared/mypost_form' %>
        </section>
      </section>
    </aside>
    <div class="col-md-8">
      <%= render 'follow_form' if logged_in? %>
      <% if @user.myposts.any? %>
        <h3>Microposts (<%= @user.myposts.count %>)</h3>
        <ol class="myposts">
          <%= render @myposts %>
        </ol>
        <%= will_paginate @myposts %>
      <% end %>
    </div>
  </div>
