<li id="mypost-<%= mypost.id %>">
  <!-- 上記のidはjQueryをつけるとき用 -->

  <!-- ユーザーの写真 -->

  <span class="content">
    <span class="intro">
      <span class="text">
        <span class="title">
          <strong>タイトル：<p></strong><%= mypost.title %></p>
        </span>
        <span class="author">
          <strong>著者：</strong>
          <p><%= mypost.author %></p>
        </span>
      </span>
      <span class="picture">
        <% if mypost.picture.url %>
          <%= image_tag mypost.picture.url %>
        <% elsif mypost.another_picture %>
            <%= image_tag mypost.another_picture %>
        <% end %>
      </span>
    </span>
    <span class="review">
        <strong>内容・感想：</strong><br>
        <%= mypost.content %>
    </span>
  </span>
    <span class="timestamp">
      <span class="arrange">
        <span class="time">
          <%= time_ago_in_words(mypost.created_at) %>前
        </span>
          <% if current_user?(mypost.user) %>
        <span class="delete">
            <%= link_to "削除", mypost, method: :delete, data: { confirm: "本当に削除しますか？" } %>
        </span>
        <span>
          <%= form_for(@micropost) do |f| %>
            <%= f.hidden_field :title, :value => mypost.title %>
            <%= f.hidden_field :author, :value => mypost.author %>
            <%= f.hidden_field :content, :value => mypost.content %>

            <% if mypost.picture.url %>
              <%= f.hidden_field :another_picture, :value => mypost.picture.url %>
            <% elsif mypost.another_picture %>
              <%= f.hidden_field :another_picture, :value => mypost.another_picture %>
            <% end %>

            <%= f.submit "「みんなの投稿」にも投稿！", class: "post" %>
          <% end %>
        </span>
          <% end %>
      </span>
    </span>
  </li>
